<!DOCTYPE html>
{% load static  %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static "css/foot.css" %}">

</head>
<body>
    <div class="foot">
        <div class="foot1">
            <h2>Exclusive</h2>
            <p>Lorem ipsum, dolor sit amet <br> consectetur adipisicing elit. <br> Exercitationem fuga harum <br> voluptate?</p>
        </div>
        <div class="foot2">
            <p>Support</p>
            <p>Stockholm, Sweden</p>
            <p>email@gmail.com</p>
            <p>+46 123 456 78</p>
            <p>+46 72 345 67</p>
        </div>
        <div class="foot3">
            <p>Support</p>
            <p>Account</p>
            <p>Login / Register</p>
            <p>Cart</p>
            <p>Shop</p>
        </div>
        <div class="foot4">
            <p>Support</p>
            <p>Privacy policy</p>
            <p>Terms of use</p>
            <p>FAQ's</p>
            <p>Contact</p>
        </div>
    </div>
    <div class="footlast">
        <p>Copyright Exclusive 2023. All right reserved</p>
    </div>
</body>
</html> 