{% extends "common.html" %}
{% block title %}Place order{% endblock title %}
{% block content %}
{% load static %}
<div class="order">
        <h3 style="text-align: center;">Place your Order</h3>
    <h4>User Information</h4>
    <p>{{user.username}}</p>

    <h3> your Orders</h3>
    <!-- <p>{{user.email}}</p> -->
    <div style="padding-right: 5em;">
        <table class="table">
            <thead  class="table-secondary">
              <th>Product Name</th>
              <th>  Qty</th>
              <th>Price</th>
            </thead>
            {% for i in  cartitems %}
            <tbody>
            
            
            <td>{{i.product.name}}</td>
            <td>{{i.quantity}}</td>
            <td>{{i.product.rate}}</td>
            
    
    
             
                   
            </tbody>
            {% endfor %}
          </table>
    </div>

    
    <form  method=post>
        {% csrf_token %}
        <div>
            <p>Enter your Delivery Address</p>
            <textarea style="width:250px; height: 150px;" placeholder="enter your address" name="address"> {{exist_address}}</textarea>

        </div>
        <div>
            <a href="{% url "confirm" %}"><button type="submit"  style="background-color: rgb(225, 153, 19);color:white;" class="btn btn-warning">Delver to this Address</button></a>


        </div>
        
    </form>
    {% endblock content %}
</div>